$slider-bg: linear-gradient(108.12deg, #222f3e 27.31%, #4895f7 89.31%);
$white: #fff;
$amazon: #ed701f;
$gray: #e9eff0;
$pest: #91edc5;
$lblack: #1f2f3f;
$anotherblack: #222f3e;
$title-color: #141414;
$des-color: #656565;