@import 'partials/colors';
@import 'partials/variable';
@import 'partials/mixins';
@import 'partials/common';

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $arial;
}
ul {
  @include zeromargin-zeropadding;
  li {
    @include zeromargin-zeropadding;
  }
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

@for $i from 1 through 6 {
  h#{$i} {
    font-family: $georgia;
    color: $title-color;
  }
}

// home slider part start from here

.homeslider-main {
  //   padding: 340px 0;
  padding: 309px 0;
  background: $slider-bg;
  .left-content-box {
    h1.slider-title {
      @include commonh1;
    }
    p.slider-desc {
      @include slider-desc;
    }
    a.offer-btn {
      @include slider-offer-btn;
    }
  }
  .slider-image-box {
    text-align: center;
  }
}

// service section start from here
.service-main {
  padding: 120px 0 100px 0;
  .service-header {
    @include service-header;
    h2.service-title {
      @include service-title;
    }
    p {
      @include service-description;
      a.amazonprime-link {
        color: $amazon;
        text-decoration: underline;
      }
    }
  }
  .card {
    @include no-radius;
    border: none;
    margin-bottom: 20px;
    img {
      @include no-radius;
    }
    .card-body {
      @include service-card-body;
      .title-box {
        h3 {
          @include service-card-title;
        }
        p {
          @include service-card-desc;
        }
      }
      .btn-box {
        a.offer-btn {
          @include service-card-offer-btn;
        }
      }
    }
  }
  .show-all-offer {
    margin-top: 60px;
    text-align: center;
    a.all-offer-btn {
      @include service-all-offer-btn;
    }
  }
}

// occasion section start from here
.occasion-main {
  padding: 140px 0 130px 0;
  background: $pest;

  .left-content-box {
    max-width: 615px;
    h3.occasion-title {
      font-family: $georgia;
      font-weight: 400;
      font-size: 64px;
      line-height: 72px;
      color: $title-color;
      margin-bottom: 18px;
    }
    p.occasion-desc {
      font-family: $arial;
      font-size: 20px;
      font-weight: 400;
      line-height: 32px;
      color: $title-color;
      margin-bottom: 60px;
    }
    a.occasion-btn {
      @include no-radius;
      color: $white;
      padding: 25px 54px;
      background: $anotherblack;
      font-size: 16px;
      line-height: 16px;
      font-weight: 700;
      font-family: $arial;
      text-transform: uppercase;
    }
  }
  .right-image-box {
    text-align: center;
  }
}

// amazon prime section start from here 

.amazonprime-main{

}